/*!
 * Materialize v1.0.0 (http://materializecss.com)
 * Copyright 2014-2017 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */

:root {
    --thumb-color: #000000;
    --thumb-size: 16px;
    --slider-background: #dfdfdf;
}
@media (prefers-color-scheme: dark) {
    :root {
        --thumb-color: #0ea5e9;
        --slider-background: #404040;
    }
}

.range-field {
    position: relative;
}

input[type=range],
input[type=range] + .thumb {
    cursor: pointer;
}

input[type=range] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    /* margin: 15px 0; */
    padding: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] + .thumb {
    position: absolute;
    top: 10px;
    left: 0;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: var(--thumb-color);
    margin-left: 7px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
    display: block;
    width: 30px;
    text-align: center;
    color: var(--thumb-color);
    font-size: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=range] + .thumb.active {
    border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
    color: #fff;
    margin-left: -1px;
    margin-top: 8px;
    font-size: 10px;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: var(--slider-background);
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
    height: var(--thumb-size);
    width:  var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    -webkit-appearance: none;
    background-color: var(--thumb-color);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: -5px 0 0 0;
}

.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
    box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range] {
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
    height: 3px;
    background: var(--slider-background);
    border: none;
}

input[type=range]::-moz-focus-inner {
    border: 0;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: var(--thumb-size);
    width:  var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    margin-top: -5px;
}

input[type=range]:-moz-focusring {
    outline: 1px solid #fff;
    outline-offset: -1px;
}

.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range]::-ms-track {
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: var(--thumb-color);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
    box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}